/apps/scheduler/   @mountetnabusiness @Dani-Eastwood
/apps/data/        @mountetnabusiness @Dani-Eastwood
/apps/employee/    @mountetnabusiness @Dani-Eastwood
/apps/client/      @mountetnabusiness @Dani-Eastwood
/apps/teacher/     @mountetnabusiness @Dani-Eastwood
/packages/         @mountetnabusiness @Dani-Eastwood